{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="https://allfont.ru/allfont.css?fonts=vetren" rel="stylesheet" type="text/css" />
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/styles/404-Styles.css' %}">
</head>
<body>
    <div id="main-page">
        <h1>404</h1>
        <div id="text">Страница не найдена</div>
        <br><br>
        <h2>Извините !</h2>
        <p>Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введен неверный адрес в адресной сроке.</p>
        <br><br>
        <a href="{% url 'main' %}"><h2>Перейти на главную страницу</h2></a>
    </div>
</body>
</html>