<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Екатерина Лосик</title>
	<link rel="stylesheet" type="text/css" href="static/vendor/styles/MainStyles.css">
</head>
<body>
    <div id="header">
        <img src="static/vendor/images/logo-1.png" id="logo">
    </div>
    <div id="first-page-photo-holder">
        <div class="fixed-block">
            <div id="first-user-img">
                <img src="static/vendor/images/marrige1.png">
            </div>
            <div id="second-user-img">
                <img src="static/vendor/images/marrige2.png">
            </div>
        </div>
    </div>
    <div id="marige-photo-box">
        <div class="fixed-block">
            <div class="marige-photo-block">
                <img src="static/vendor/images/marrige-photo-3.jpg">
                <h3>Русик + Влад</h3>
            </div>
            <div class="marige-photo-block">
                <img src="static/vendor/images/marrige-photo-3.jpg">
                <h3>Русик + Влад</h3>
            </div>
            <div class="marige-photo-block">
                <img src="static/vendor/images/marrige-photo-3.jpg">
                <h3>Русик + Влад</h3>
            </div>
            <div class="marige-photo-block">
                <img src="static/vendor/images/marrige-photo-3.jpg">
                <h3>Русик + Влад</h3>
            </div>
        </div>
    </div>

    <div id="thir-page">
        <div class="fixed-block">
            <div id="Why-us">
                <h1>почему вам стоит выбрать именно нас</h1>
            </div>
            <div id="About-us">
                какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
            </div>
            <div id="organizer-photo">
                <img
            </div>
        </div>
    </div>
</body>
</html>