{% extends 'wedding/base.html' %}
{% load static %}
{% load cache %}

{% block content %}


    <div id="first-page-photo-holder">
        <div class="fixed-block">
            <div id="first-user-img">
                <img src="">
            </div>
            <div id="second-user-img">
                <img src="">
            </div>
        </div>
    </div>
    <div id="marrige-photo-box">
        <div class="fixed-block">
        {% cache 30 first_photos %}
            {% for wedding, photo in wedding_photos.items %}
                <div class="marrige-photo-block">
                    <img src="{{ photo.url }}">
                    <h3>{{ wedding }}</h3>
                </div>
            {% endfor %}
        {% endcache %}
        </div>
    </div>

    <div id="third-page">
        <div class="fixed-block">
            <div id="third-page-text-box">
                <div id="Why-us">
                    <h1>почему вам стоит выбрать именно нас</h1>
                </div>
                <div id="About-us">
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                    какой то текст о том, кто такой наш организатор и почему свадьбы для него являются важными
                </div>
        </div>
            <div id="organizer-photo">
                <img src="">
            </div>
        </div>
    </div>
    <div id="fourth-page">
        <div class="fixed-block">
            <div id="fourth-page-header">
                <h1>Отзывы клиентов</h1>
            </div>
            <div id="comment-holder-box">
            {% cache 30 comments %}
                {% for comment in comments %}
                    <div class="comment-box">
                        <div class="comment-img">
                            <img src="media/{{ comment.commenter_avatar }}">
                        </div>
                        <div class="comment-text-box">
                            {{ comment.comment_text }}
                        </div>
                    </div>
                {% endfor %}
            {% endcache %}
            </div>
        </div>
    </div>

{#    <div id="fifth-page">#}
{#        <div class="fixed-block">#}
{#            <div id="user-comment-header">#}
{#                <h1>Комментарии</h1>#}
{#            </div>#}
{##}
{#            <form action="{% url 'main' %}" method="post">#}
{#                {% csrf_token %}#}
{#                <input type="text" name="user-name" id="user-name" placeholder="Имя" size="53">#}
{#                <br>#}
{#                <label for="marrige-date">Дата свадьбы</label>#}
{#                <input type="date" name="marrige-date" id="marrige-date" size="53" >#}
{#                <br>#}
{#                <textarea id="user-comment" maxlength="1000" cols="52" rows="10" placeholder="Ваш комментарий"></textarea>#}
{#                <input type="commit">#}
{#                <input type="submit" id="user-comment-form-submit">#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
    <div id="fifth-page">
        <div class="fixed-block">
            <div id="user-comment-header">
                <h1>Комментарии</h1>
            </div>
            <form action="{% url 'main' %}" method="post">
                {% csrf_token %}
                {{ form.commenter_name }}
                <br>
              {{ form.comment_date }}
                <br>
               {{ form.comment_text }}
                <br>
                <br>
                <input type="submit" id="user-comment-form-submit">
            </form>
        </div>
    </div>

{% endblock %}
