{% extends 'wedding/base.html' %}
{% load static %}
{% load cache %}

{% block content %}
    {% for wedding in object_list %}
        <a href="{% url 'portfolio:wedding' wedding.pk %}">{{ wedding }}</a>
        <br>
    {% endfor %}
    <div class="pagination">
    {% for page in paginator %}
        <a href="{% url 'wedding:paginator' page.number %}" {% if page.number == paginator.number %}class="active"{% endif %}>{{ page.number }}</a>
    {% endfor %}
</div>

        <main class="fixed-block">
            <div class="row align-items-center" style="margin-top: 20px;">
                <div class="col-2">
                    <h3>Свадьбы</h3>
                </div>
                <div class="line col"></div>
            </div>
            <div class="row">
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
                <div class="marrige-box row g-0">
                    <div class="col-auto d-lg-block">
                      <img src="static/vendor/images/marrige-photo-3.jpg" alt="Фото свадьбы" class="photo-container">
                    </div>
                    <div class="right-column col position-relative">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><h4><u>Руслан и Влад</u></h4></strong>
                        <p class="right-column-text card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt at corporis blanditiis vero voluptatibus nihil pariatur, accusantium animi aspernatur excepturi a laudantium nam fugiat ipsam maxime tempore cum provident doloribus!
                        </p>
                        <a href="#" class="right-column-link icon-link gap-1 icon-link-hover stretched-link">
                            смотреть
                        </a>
                    </div>
                </div>
            </div>

            <div class="numbers">
                <a href="{% url 'portfolio:wedding' wedding.pk %}"></a>

                <div class="pagination">
                    <a href="{% url 'wedding:paginator' page.number %}" {% if page.number == paginator.number %} class="active"{% endif %}>1</a>
                </div>
                <a href="{% url 'portfolio:wedding' wedding.pk %}"></a>

                <div class="pagination">
                    <a href="{% url 'wedding:paginator' page.number %}" {% if page.number == paginator.number %}class="active"{% endif %}>2</a>
                </div>
                <a href="{% url 'portfolio:wedding' wedding.pk %}"></a>

                <div class="pagination">
                    <a href="{% url 'wedding:paginator' page.number %}" {% if page.number == paginator.number %}class="active"{% endif %}>3</a>
                </div>
            </div>
        </main>



{% endblock %}